#div_listIngredients
{
    float:right; 
    margin-right: 10%; 
    margin-top: -7%
}

#td_ingredients
{
    background-color: #000000; 
    color: #FFFFFF; 
    border-bottom:  10px solid #FFFFFF;
    border-top:  10px solid #FFFFFF; 
    border-radius: 30%;
    text-align: center;
    line-height: 50%;
}
#h3_error
{
    color: #E53935;
    font-size: 15px;
    font-weight: bold;
}

#h3_einfuegenErfolgreich
{
    color: #E53935;
    font-size: 15px;
    font-weight: bold;
}

#div_checkbox_include
{
    margin-left:0;
}

#div_recipeHeader
{
    background-color: #26a69a;
    font-weight: bold;
}

#nav_style
{
    background-color: #26a69a;
}
#bt_ingredients
{
    background-color: #000000; 
    color: #FFFFFF; 
    border-bottom:  10px solid #FFFFFF;
    border-top:  10px solid #FFFFFF; 
    border-radius: 30%;
    text-align: center;
    line-height: 50%;
}

audio { 
   display:none;
}